@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --font-family-theme: 'Karla', sans-serif;
}

body {
    font-family: var(--font-family-theme);
}


/* NO SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* MENU SCREEN */
#menu-screen.is-closed {
    transform: translateX(-100%);
}


/* INDEX */
.bottle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    position: absolute;
    opacity: 0;
    will-change: transform;
}


/* ROUTINE */
.is-deselected {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}


/* PRODUCTS */
.step-button {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    padding: 5px 12px;
    background-color: #7D32FF10;
    border-width: 2px;
    border-radius: 20px;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    color: #7D32FF;
    font-weight: bold;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.step-button:hover {
    background-color: #7D32FF30;
    opacity: 0.9;
}

.step-button.active {
    background-color: #7D32FF;
    color: white;
    opacity: 1;
}

.morning-select-btn.active {
    background-color: #FFF8A9;
    color: #575000;
    border-color: #FFEC1D;
}

.night-select-btn.active {
    background-color: #A2CAFF;
    color: #002557;
    border-color: #4595FF;
}

.routine-select-btn:disabled {
    background-color: #F3F4F6;
    color: #D1D5DB;
    cursor: not-allowed;
    border-color: #E5E7EB;
}


/* ACTIVES */
.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease-in-out;
}
.accordion-content.is-open {
    grid-template-rows: 1fr;
}