@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --font-family-theme: 'Karla', sans-serif;
}

body {
    font-family: var(--font-family-theme);
}


/* NO SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* MENU SCREEN */
#menu-screen.is-closed {
    transform: translateX(-100%);
}

/* INDEX */
.bottle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    position: absolute;
    opacity: 0;
    will-change: transform;
}

/* ROUTINE */
.is-deselected {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

#mask-blur {
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
}